<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Hacker Matter 2014</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{=URL('static', 'css/bootstrap.min.css')}}">


    <!-- Custom styles for this template -->
    <link href="{{=URL('static', 'css/cover.css')}}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    {{include 'web2py_ajax.html'}}

  </head>

  <body>

    <div class="site-wrapper">
      
 
      <div class="site-wrapper-inner">

	<div class="flash"></div>

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">
		
	      </h3>
              <ul class="nav masthead-nav">
                <li class=""><a href="https://welcu.com/nimio-technologies/nimio-hacker-matter">&lt;Reg&iacute;strate aqu&iacute;&gt;</a></li>
                <!-- <li><a href="#">Actividades</a></li> -->
                <!-- <li><a href="#"></a></li> -->
              </ul>
            </div>
          </div>

	  {{include}}

          <div class="mastfoot">
            <div class="inner">
              <p>...fueled by <a href="http://nim.io/">NIMIO</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="{{=URL('static', 'js/bootstrap.min.js')}}"></script>
<script src="{{=URL('static', 'js/web2py.js')}}"></script>


  </body>
</html>
