
<style>

 a, a:focus, a:hover {
   color: rgb(30,80,129);
 }
 .btn-default, .btn-default:hover, .btn-default:focus,
input[type=submit] {
   background-color: #f90;
   border: 1px solid rgba(30,80,129);
   color: #fff;
   text-shadow: none;
 }
 html, body {
   background-color: #150920;
   height: 100%;
 }
 body {
   color: #fff;
   font-family: monospace;
   text-align: center;
   text-shadow: 0 3px 5px rgba(255, 255, 255, 0.5);
 }
 .site-wrapper {
   box-shadow: 0 0 100px rgba(0, 0, 0, 0.5) inset;
   display: table;
   height: 100%;
   min-height: 100%;
   width: 100%;
 }
 .site-wrapper-inner {
   display: table-cell;
   vertical-align: top;
 }
 .cover-container {
   margin-left: auto;
   margin-right: auto;
 }
 .inner {
   padding: 30px;
 }
 .masthead-brand {
   margin-bottom: 10px;
   margin-top: 10px;
 }
 .masthead-nav > li {
   display: inline-block;
 }
 .masthead-nav > li + li {
   margin-left: 20px;
 }
 .masthead-nav > li > a {
   border-bottom: 2px solid transparent;
   color: rgba(255, 255, 255, 0.75);
   font-size: 16px;
   font-weight: bold;
   padding-left: 0;
   padding-right: 0;
 }
 .masthead-nav > li > a:hover, .masthead-nav > li > a:focus {
   background-color: transparent;
   border-bottom-color: rgba(30,80,129, 0.25);
 }
 .masthead-nav > .active > a, .masthead-nav > .active > a:hover, .masthead-nav > .active > a:focus {
   border-bottom-color: rgb(30,80,129);
   color: #fff;
 }
 @media (min-width: 768px) {
   .masthead-brand {
     float: left;
   }
   .masthead-nav {
     float: right;
   }
 }
 .cover {
   padding: 0 20px;
 }
 .cover .btn-lg {
   font-weight: bold;
   padding: 10px 20px;
 }
 .mastfoot {
   color: rgba(255, 255, 255, 0.5);
 }
 @media (min-width: 768px) {
   .masthead {
     position: fixed;
     top: 0;
   }
   .mastfoot {
     bottom: 0;
     position: fixed;
   }
   .site-wrapper-inner {
     vertical-align: middle;
   }
   .masthead, .mastfoot, .cover-container {
     width: 100%;
   }
 }
 @media (min-width: 992px) {
   .masthead, .mastfoot, .cover-container {
     width: 700px;
   }
 }

</style>
